.h-title {
  color: #073f3b;
  font-size: 3rem;
  font-weight: 600;
  line-height: 4rem;
  font-family: "DM Sans", sans-serif;
  display: flex;
  align-items: center;
}
.h-left {
  height: 300px;
  width: 600px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
}
.h-container {
  color: #f76363;
  font-size: 1.4rem;
  line-height: 4rem;
  font-family: "DM Sans", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero {
  display: flex;
  justify-content: space-around;
}
